.idea/
build/
dist/
*.egg-info
__pycache__
*.pdf
.ipynb_checkpoints
examples/bench/toy/*/artifacts

*.wandb

examples/wandb/offline-run-20240815_115622-2js8vw4s/logs/

*.csv

*.log

*.png

*.txt

examples/wandb/

*.pt
